footer{
  text-align: center;
  font-family: $dinstack;
  font-weight: 300;
  opacity: 0.6;
  padding: 1rem;
}

/* media queries */
@media only screen and (max-width: 576px) {
  footer{
    font-size: 0.8rem;
  }
}