header{
  height: 5rem;
  background-color: #444;
  display: flex;
  align-items: center;
  font-family: $dinstack;

  #navspacer{
    width: 22rem;
    display: inline-block;
  }

  nav{
    width: 43rem;
    display: flex;
    justify-content: space-between;
  }

  a.navitem{
    font-size: 2rem;
    color:white;
    text-decoration: none;
    opacity: .6;
    transition: opacity .25s ease;
    font-weight: 600;
  }

  a.navitem.current{
    opacity: 1;
    pointer-events: none;
  }

  a.navitem:hover{
    color:white;
    opacity: 1;
  }
}

#desktop-logo{
  width: 16rem;
  position: absolute;
  top: 1em;
  left: 2em;
  z-index: 2;
}