header{
  height: 5rem;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $dinstack;
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index: 2;
  padding: 0 3vw;

  #nav-expander{
    width: auto;
    height: 60%;
    background-color: transparent;
    border: none;
    padding:0;
    display: none;
    img{
      height: 100%;
      width: auto;
    }
  }

  nav{
    width: 43rem;
    margin-left: 15vw;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }

  a.navitem{
    color:white;
    text-decoration: none;
    opacity: .6;
    transition: opacity .25s ease;
    font-weight: 600;

    &.current{
      opacity: 1;
      pointer-events: none;
    }

    &:hover{
      color:white;
      opacity: 1;
    }
  }

  #wordmark{
    margin-top: .5rem;
    display: none;
    height: 75%;
    width: auto;
  }

  address{
    color: white;
    opacity: 0.9;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    min-width: 23rem;
    margin: 0 2em;
  }

  #cart{
    min-width: 3rem;
    height: 2.75rem;
    background-image: url('images/cart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font-family: $dinstack;
    position: relative;

    span{
      position: absolute;
      top: 21.5%;
      left: 33.5%;
      font-size: .875em;
    }
  }
}

#desktop-logo{
  width: (100vw/7.5);
  position: fixed;
  top: (100vw/120);
  left: (100vw/60);
  z-index: 3;
}

/* media queries */
@media only screen and (max-width: 1200px) {
  header{
    padding: 0 5vw;
  }
  header address{
    display: none;
  }
  header nav{
    margin-right: 2em;
    flex: 1;
  }
}

@media only screen and (max-width: 992px) {
  #desktop-logo{
    display: none;
  }
  header #nav-expander, header #wordmark{
    display: block;
  }
  header nav{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #444;
    align-items: center;
    margin: 0;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    transition: height .4s ease;
    height: 0;

    a.navitem{
      margin: .25em 0;

      &:first-of-type{
        margin-top: .5em;
      }

      &:last-of-type{
        margin-bottom: .5em;
      }
    }
  }
}