body.home{
  .banner{
    font-size: 2.5rem;
    height: 9.6em;

    h1{
      font-weight: 400;
    }
  }
  main section.content{
    max-width: none;
    padding: 0 0 2rem 0;
    text-align: center;
  }
}

/* media queries */
@media only screen and (max-width: 768px) {
  body.home .banner{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  body.home .banner{
    height: 12em;
    font-size: 1.5rem;
  }
}