body.home{
  .banner{
    height: 24rem;

    h1{
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
}

/* media queries */
@media only screen and (max-width: 768px) {
  body.home .banner{
    h1 {
      font-size: 2rem;
    }
  }
}