/* variables */
$dinstack: din-2014,FF DIN,DIN Pro,sans-serif;
$sysstack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* resets */
html, body {
  box-sizing: border-box;
  margin:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  margin:.4em auto;
}

/* body styles */
body{
  background-image: url('images/nocolor.jpg');
  background-size: 105%;
  background-position: center -13rem;
  font-family: ff-tisa-web-pro,Tisa Pro,Georgia,serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* banner */
.banner{
  background-color: #B7EBEB;
  height: 3em;
  opacity: .86;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  font-size: 4.5rem;
  
  h1{
    max-width: 75rem;
    font-size: 1em;
    font-weight: bold;
    width: 75vw;
  }
}

/* content */
main{
  background-color: #FF3535;
  text-align: center;

  section.content{
    background-color: #FFFAFA;
    width: 80vw;
    max-width: 1250px;
    padding: 1.5rem 2rem;
    margin: 0 auto;
    overflow: auto;
    border-radius: 0 0 1em 1em;
    text-align: left;

    h1{
      font-size: 3.25rem;
      font-family: $dinstack;
      display: inline-block;
      max-width: 90%;
    }

    p{
      font-size: 1.375rem;
      text-indent: 1em;

      &:first-of-type{
        margin-top: 0;
      }

      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}

/* bottompad */
#bottompad{
  background-color: #444444;
  opacity: .86;
  flex:1;
}

/* media queries */
@media only screen and (max-width: 768px) {
  .banner{
    font-size: 4rem;
  }
  main section.content{
    width: 85vw;
    p{
      font-size: 1.25rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  main section h1{
    font-size: 2.25rem;
  }
  .banner{
    font-size: 3.25rem;
  }
  main section.content{
    width: 90vw;
    padding: 1rem 1.25rem;
    p{
      font-size: 1rem;
    }
  }
}

/* imports */
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'bench.scss';
@import url("https://use.typekit.net/lgm4sew.css");